@charset "UTF-8";
div{
    text-align: center;
}
.effect{
    font-size: 15px;
    color: red;
}
.cord{
    font-size: 50px;
    color: brown;
    text-align: center;
}
a{
    color: #999;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}
