@charset "UTF-8";
div{
    text-align: center;
}
p{
    font-size: 50px;
    color: brown;
    text-align: center;
}
a{
    color: #999;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}
